.page-title {
  font-size: 2.0rem !important;
  line-height: 2.4rem !important;
  color: hsl(33.8, 69.6%, 42.5%) !important
}

/* was 1.125 */
:root {
  --sp: 1.0rem !important
}

/* was 48 */
#block-olivero-page-title {
  margin-bottom: 0px !important
}

/* was 32 */
.field--label-above {
  margin-bottom: 12px !important
}

/* p tags in text fields */
p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

.carrotomics-link-button {
  border-radius: 8px !important;        /* Rounds the corners */
  margin-top: 5px !important;
  margin-bottom: 0px !important;
  background-color: #e08030 !important; /* Button color */
}

/* Puts two blocks in hero side-by-side */
.region--hero {
  display: flex;
  gap: 20px;
}
.region--hero .block {
  flex: 1;
}

.news-and-events-table {
  margin-top: 0 !important;
  margin-left: 20px !important;
}

.news-and-events-table td {
  display: list-item;
  padding-block: 4px !important;
  line-height: 1.2;
  border-block-end: none !important;
}

.view-news-and-events .more-link {
  margin-top: -75px;
  padding-top: 0;
}

#page > footer > div {
  padding-top: 20px;
  padding-bottom: 0;
}

.site-footer {
  background: linear-gradient(180deg, hsl(96, 62%, 22%) 0%, hsl(100, 70%, 8%) 100%) !important;
}

.carrotomics-table {
  border-collapse: collapse;
}

.carrotomics-table th {
  border-bottom: 2px solid var(--color--primary-50);
  padding-left: 8px;
  padding-right: 8px;
}

.carrotomics-table td {
  border-bottom: 2px solid var(--color--gray-65);
  padding-left: 8px;
  padding-right: 8px;
}
