.page-title {
  font-size: 2.0rem !important;
  line-height: 2.4rem !important;
  color: hsl(33.8, 69.6%, 42.5%) !important
}


/* was 1.125 */
:root {
  --sp: 1.0rem !important
}

/* was 48 */
#block-olivero-page-title {
  margin-bottom: 0px !important
}

/* was 32 */
.field--label-above {
  margin-bottom: 12px !important
}

/* p tags in text fields */
p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

.carrotomics-link-button {
  border-radius: 8px !important;        /* Rounds the corners */
  margin-top: 5px !important;
  margin-bottom: 0px !important;
  background-color: #e08030 !important; /* Button color */
}

#page > footer > div {
  padding-top: 20px;
  padding-bottom: 0;
}
